@charset "CP850";
/* -------------------------------------------------------------------------*/
/* Layout */
/* line 11, ../sass/screen.scss */
body {
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  background-image: url(/PictoRest/web/images/back.png);
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
  min-width: 340px;
  font-family: 'Lato', sans-serif;
  /*Breakpoint écran tablettes*/
  /*Breakpoint écran ordinateur*/
}
/* line 38, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 22, ../sass/screen.scss */
body > header {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  background-color: #a4c400;
  background-repeat: no-repeat;
  background-size: 18%;
  background-position: left;
  overflow: hidden;
  text-align: center;
  height: 100px;
}
/* line 31, ../sass/screen.scss */
body > header > a {
  text-decoration: none;
  color: white;
}
/* line 34, ../sass/screen.scss */
body > header > a > h1 {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  text-align: center;
  font-family: 'Audiowide', cursive;
}
/* line 42, ../sass/screen.scss */
body > nav {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  display: block;
  border: solid 2px #a4c400;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
/* line 50, ../sass/screen.scss */
body > nav > form > input {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
}
/* line 56, ../sass/screen.scss */
body > nav > div#gestion {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
/* line 61, ../sass/screen.scss */
body > nav > div#gestion > a {
  width: 21.73913%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: white;
}
/* line 68, ../sass/screen.scss */
body > nav > div#gestion > a:hover {
  width: 21.73913%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  text-align: center;
  text-decoration: none;
  background-color: #a4c400;
  width: 100%;
  color: black;
}
/* line 79, ../sass/screen.scss */
body > section {
  margin-bottom: 2%;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin-top: 2%;
}
/* line 87, ../sass/screen.scss */
body > section > a {
  text-decoration: none;
  color: white;
}
/* line 90, ../sass/screen.scss */
body > section > a > div.photo {
  width: 47.82609%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #a4c400;
  width: 50%;
  height: 300px;
  padding: 1%;
  text-align: center;
}
/* line 101, ../sass/screen.scss */
body > section > a > div.photo:hover {
  background-color: #9ACD32;
  background-image: url(../images/loupe.png);
  background-repeat: no-repeat;
  color: black;
  opacity: 0.8;
}
/* line 108, ../sass/screen.scss */
body > section > a > div#creaAlbum {
  width: 47.82609%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #a4c400;
  width: 50%;
  height: 300px;
  padding: 1%;
  text-align: center;
}
/* line 119, ../sass/screen.scss */
body > section > a > div#creaAlbum:hover {
  width: 47.82609%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #a4c400;
  width: 50%;
  height: 300px;
  padding: 1%;
  text-align: center;
  background-color: #a20025;
  opacity: 0.7;
}
/* line 135, ../sass/screen.scss */
body > div#contenu {
  background-color: #272822;
  text-align: center;
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0px 1px 10px 7px rgba(164, 196, 0, 0.69);
  -moz-box-shadow: 0px 1px 10px 7px rgba(164, 196, 0, 0.69);
  -webkit-box-shadow: 0px 1px 10px 7px rgba(164, 196, 0, 0.69);
}
/* line 150, ../sass/screen.scss */
body > div#contenu > form > div#identifier {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
}
/* line 155, ../sass/screen.scss */
body > div#contenu > form > div#identifier > input[type="submit"] {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
  width: 90%;
  background-color: #a4c400;
  border: solid 3px black;
}
/* line 165, ../sass/screen.scss */
body > div#contenu > form > div#identifier > input[type="submit"]:hover {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  color: white;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
  width: 90%;
  background-color: grey;
  border: solid 3px black;
}
/* line 177, ../sass/screen.scss */
body > div#contenu > form > div#inscrire {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
}
/* line 182, ../sass/screen.scss */
body > div#contenu > form > div#inscrire > input[type="submit"] {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
  width: 90%;
  background-color: #a4c400;
  border: solid 3px black;
}
/* line 192, ../sass/screen.scss */
body > div#contenu > form > div#inscrire > input[type="submit"]:hover {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  color: white;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
  width: 90%;
  background-color: grey;
  border: solid 3px black;
}
/* line 207, ../sass/screen.scss */
body > footer {
  text-align: center;
  color: white;
}
@media (min-width: 42em) and (max-width: 64em) {
  /* line 216, ../sass/screen.scss */
  body > section {
    width: 100%;
    float: left;
    margin-right: 2.12766%;
  }
  /* line 219, ../sass/screen.scss */
  body > section > a > div.photo {
    width: 36.17021%;
    float: right;
    margin-right: 0;
    width: 33.33%;
  }
  /* line 224, ../sass/screen.scss */
  body > section > a > div.photo:hover {
    background-color: #9ACD32;
    background-image: url(../images/loupe.png);
    background-repeat: no-repeat;
    color: black;
    opacity: 0.8;
  }
  /* line 232, ../sass/screen.scss */
  body > section > a > div#creaAlbum {
    width: 36.17021%;
    float: right;
    margin-right: 0;
    width: 33.33%;
  }
  /* line 236, ../sass/screen.scss */
  body > section > a > div#creaAlbum:hover {
    width: 36.17021%;
    float: right;
    margin-right: 0;
    width: 33.33%;
    background-color: #a20025;
    opacity: 0.7;
  }
}
@media (min-width: 64em) {
  /* line 252, ../sass/screen.scss */
  body > nav {
    width: 100%;
    float: left;
    margin-right: 1.05263%;
    display: block;
    border: solid 2px #a4c400;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
  }
  /* line 260, ../sass/screen.scss */
  body > nav > form > input {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
  }
  /* line 266, ../sass/screen.scss */
  body > nav > div#gestion {
    width: 100%;
    float: left;
    margin-right: 1.05263%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 271, ../sass/screen.scss */
  body > nav > div#gestion > a {
    width: 49.47368%;
    float: right;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    width: 50%;
    color: white;
  }
  /* line 278, ../sass/screen.scss */
  body > nav > div#gestion > a:hover {
    width: 49.47368%;
    float: right;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    background-color: #a4c400;
    width: 50%;
    color: black;
  }
  /* line 289, ../sass/screen.scss */
  body > section {
    width: 100%;
    float: left;
    margin-right: 1.05263%;
  }
  /* line 292, ../sass/screen.scss */
  body > section > a > div.photo {
    width: 24.21053%;
    float: right;
    margin-right: 0;
    width: 25%;
  }
  /* line 297, ../sass/screen.scss */
  body > section > a > div.photo:hover {
    background-color: #9ACD32;
    background-image: url(../images/loupe.png);
    background-repeat: no-repeat;
    color: black;
    opacity: 0.8;
  }
  /* line 304, ../sass/screen.scss */
  body > section > a > div#creaAlbum {
    width: 24.21053%;
    float: right;
    margin-right: 0;
    width: 25%;
  }
  /* line 308, ../sass/screen.scss */
  body > section > a > div#creaAlbum:hover {
    width: 24.21053%;
    float: right;
    margin-right: 0;
    width: 25%;
    background-color: #a20025;
    opacity: 0.7;
  }
  /* line 317, ../sass/screen.scss */
  body > div#contenu {
    width: 100%;
    float: right;
    margin-right: 0;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
  }
  /* line 325, ../sass/screen.scss */
  body > div#contenu > form > div#identifier {
    width: 49.47368%;
    float: left;
    margin-right: 1.05263%;
    margin-right: 5%;
    margin-left: 5%;
    width: 40%;
  }
  /* line 330, ../sass/screen.scss */
  body > div#contenu > form > div#identifier > input[type="submit"] {
    width: 100%;
    float: left;
    margin-right: 4.34783%;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 90%;
    background-color: #a4c400;
    border: solid 3px black;
  }
  /* line 340, ../sass/screen.scss */
  body > div#contenu > form > div#identifier > input[type="submit"]:hover {
    width: 100%;
    float: left;
    margin-right: 4.34783%;
    color: white;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 90%;
    background-color: grey;
    border: solid 3px black;
  }
  /* line 352, ../sass/screen.scss */
  body > div#contenu > form > div#inscrire {
    width: 49.47368%;
    float: right;
    margin-right: 0;
    margin-right: 5%;
    margin-left: 5%;
    width: 40%;
  }
  /* line 357, ../sass/screen.scss */
  body > div#contenu > form > div#inscrire > input[type="submit"] {
    width: 100%;
    float: left;
    margin-right: 4.34783%;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 90%;
    background-color: #a4c400;
    border: solid 3px black;
  }
  /* line 367, ../sass/screen.scss */
  body > div#contenu > form > div#inscrire > input[type="submit"]:hover {
    width: 100%;
    float: left;
    margin-right: 4.34783%;
    color: white;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 90%;
    background-color: grey;
    border: solid 3px black;
  }
}
